/*
 * Globals
 */
 @font-face {
  font-family: 'cubanoregular';
  src: url('../fonts/cubano-webfont.woff2') format('woff2'),
       url('../fonts/cubano-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.cover-margin {
  margin-top: 12%;
  margin-bottom: 12%;
  margin:12%;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ffc107;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
/*
 * Base structure
 */
.titleFont {
  font-family: 'cubanoregular';
}

.contentFont {
  font-family: 'Open Sans';
}

.index-content {
  padding-left: 25%;
  padding-right: 25%;
}


.brand {
  color:white;
  font-size: 25px;
}

.index-title {
  font-size: 70px;
  /* font-weight: bold; */
  width:100%;
}

.learn-more-title {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 70px;
}

.text-white {
  color: white;
}

.text-yellow {
  color: #ffc107;
}

.cover-container {
  /* background-color: black; */
  background-image: url("/images/compressed/cover-page.webp");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  /* background-position: left; */
  background-size: cover;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar .navbar-toggler {
    border-color: rgb(255,255,255);
    float: right;
  } 

  .container-fluid .top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #000000;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}


  .hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    tranform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  
  .hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus {
    transform: translateY(-5px);
  }
  
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
  }
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  /*everything below here is just setting up the page, so dont worry about it */
  @media (min-width: 768px) {
    .navbar {
      text-align: center !important;
      float: none;
    }
  }


.navbar {
  background-color: #000000;
}

  body {
    font-weight: 600;
    /* text-align: center !important; */
    /* color:#ffc107; */
  }
  
  nav ul {
    background: none !important;
    text-transform: uppercase;
    font-weight: bold;
  }
  nav li {
    margin-left: 3em;
    margin-right: 3em;
  }

  nav li a {
    transition: 0.5s color ease-in-out;
    text-decoration: none;
    color:white;
  }
  
  .page-title {
    opacity: 0.75 !important;
  }

  .gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }


  .gradient-text-dark {
    /* Fallback: Set a background color. */
    background-color: black;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg,silver,black);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }